<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	|<section>
	 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert" >
		  <p th:text="${session.message.content}"></p>
	</div>
		<div class="card mr-3 ml-3">
			<div class="card-body">
			<h2 class="text-center">Contacts</h2>
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Contact ID</th>
				      <th scope="col">Name</th>
				      <th scope="col">Phone Number</th>
				      <th scope="col">Email</th>
				      <th scope="col">Actions</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="c: ${contacts}">
				      <th scope="row" th:text="SCM+${c.C_id}">0</th>
				      <td><img th:src="@{'/image/' + ${c.image}}" class="profileImage" onerror="this.onerror=null; this.src='@{/image/default.jpg};'"/>&nbsp; &nbsp;<span th:text="${c.name}">Mark</span></td>
				      <td> <span th:text="${c.phone}">Otto</span></td>
				      <td> <a th:href="@{'/user/'+${c.C_id}+'/contact-detail'}" th:text="${c.email}">Otto</a></td>
				      
				      <td><a th:href="@{'/user/'+${c.C_id}+'/delete-contact'}" class="btn btn-danger">Delete</a>&nbsp;
				      <a th:href="@{'/user/'+${c.C_id}+'/update-contact'}" class="btn btn-warning">Update</a></td>
				    </tr>
				  </tbody>
				</table>
				
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				    <li th:if="${currentPage!=0}" class="page-item"><a class="page-link" th:href=" @{${currentPage-1}}">Previous</a></li>
				    <li   th:each="i: ${#numbers.sequence(1,totalPages)}" th:classappend="${currentPage==i-1 ?'active':''}" class="page-item"><a class="page-link" href="#" th:text="${i}" th:href=" @{${i-1}}"></a></li>
				    <li th:if="${currentPage!=totalPages-1}" class="page-item"><a class="page-link" th:href=" @{${currentPage+1}}">Next</a></li>
				  </ul>
				</nav>
			</div>
		</div>
	</section>
</body>
</html>	